body {
  font-family: Helvetica, Arial, sans-serif;
}

ul {
  padding: 0;
}

.v-enter, .v-leave {
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
  border-top-width: 0;
  border-bottom-width: 0;
}

input {
  margin: 100px auto;
}
